body {
    background-color: white;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* 전체 페이지 스크롤 방지 */
  }
  
  .frame {
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
  }
  
  .artwork-layout {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px); /* 헤더(nav-bar) 높이 감안해서 조절 */
    overflow: hidden; /* 내부 스크롤만 허용 */
  }
  
  .scroll-area {
    height: 100%;
    overflow-y: auto; /* 스크롤 활성화 */
    scrollbar-width: thin;
  }
  
  /* 왼쪽 이미지 영역 */
  .image-column {
    width: 307px;
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    scrollbar-width: none;
  }
  
  .image-column img {
    width: auto;
    height: 200px;
    object-fit: contain;
  }
  
  /* 오른쪽 설명 영역 */
  .side-column {
    width: calc(100% - 304px);
    padding: 2%;
    background-color: white;
    scrollbar-width: none;
  }

  .side-column iframe {
    width: 100%;
    height: 100%;
  }

  .side-column::-webkit-scrollbar{
    display: none;
  }