
  body {
    margin: 0;
    padding: 24px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    overflow-y: auto;
    max-width: 100%;
  }

  .detialImage {
    text-align: center;
    margin-bottom: 20px;
    max-width: 100%;
    overflow-x: hidden;
  }

  .detialImage img {
    max-width: 100%;  /* 💡 핵심: 이미지가 영역을 넘지 않도록 */
    height: auto;
    display: block;
    margin: 0 auto;
  }

  .document p {
    font-size: 16px;
    color: #333;
    word-break: keep-all;
    max-width: 100%;
  }


body::-webkit-scrollbar{
  display: none;

}