
body{
    background-color: white;
 }
 
 .frame{
     margin: 2% 10%;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
     font-family: 'Montserrat', sans-serif;
 }
 
 .contact-info {
     margin-top: 20px;
     padding: 0.8%;
     font-size: 16px;
     color: white;
     background-color: transparent;
 }
 
 .footer-image {
     width: 50px; /* 이미지 크기를 조절 */
     height: auto; /* 비율을 유지하면서 크기 조정 */
     vertical-align: middle; /* 이미지와 텍스트가 같은 라인에 오게 함 */
 }
 
 .contact-info-title{
     color: black !important;
     font-size: 12px !important;
 }
 
 .contact-info a {
     color: darkgray;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
     font-size: 12px;
     margin-left: 12px;
 }
 
 .contact-info a:visited{
     color: darkgray;
 }
 
 .contact-info a:hover {
     color: darkgray;
     transition: 0.3s;
 }
 
 .fixed-text {
     position: fixed;
     top: 20%;
     left: 5%;
     width: 185px;
     font-size: 12px;
     background-color: rgba(255, 255, 255, 0.8);
     padding: 10px;
     border-radius: 5px;
     z-index: 999;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
     line-height: 20px;
 }
 


/* 여기까지는 기본 세팅 */



.dashboard{
    margin-top: 5%;
    
    display: flex;
    flex-direction: column;
}

.zone1 img{
    width: 25%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.zone2{
    position: relative; /* 페이지 구조상 위치를 절대상태로 변경 */
    background-color: #328a63;
    width: 99.2700163vw; 
    left: 50%;
    transform: translateX(-50%); /*자신의 너비와 높이만큼 빼서 진짜 가운데정렬*/
}

.zone2 img{
    width: 65%;
    height: auto;
    display: block;
    margin: 0 auto;
    
}


.zone3 {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: row;
    
}

.zone3-1{
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.zone3-1-1{
    font-size: 16px;
}

.zone3-1-3{
    font-family: 'Pretendard', sans-serif;;
}

.zone3-2{
    width: 50%;
    display: flex;

}

.zone3-2-1{
    width: 30%;
    margin-top: 5vh;
}

.zone3-2-1 img{
    width: 60%;
}

.zone3-2-2 {
    width: 70;
    display: flex;
    margin-top: 5vh;
    padding-top: 0;
    flex-direction: column;
}



.swiper {
    width: 65%;
    height: auto;
    align-self: flex-start;
    margin-left: 0S;
}
  
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;       /* 버튼 화살표 색상 */
    z-index: 10;        /* 다른 요소 위에 나오게 */
    width: 44px;
    height: 44px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: rgba(255,255,255,0.6);
    font-size: 24px; /* 화살표 크기 */
}

.swiper-scrollbar{
    display: none !important;
}

.swiper-pagination-bullet{
    background: rgba(255,255,255, 0.9) !important;
}

.swiper-pagination-bullet-active{
    background: rgba(255,255,255, 0.6) !important;
}

.zone4{
    margin-left: 10%;
}

.trailer-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 비율 유지 */
    height: 0;
    overflow: hidden;
    max-width: 90%;
}

.trailer-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}