body{
    background-color: white;
}

.frame{
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.fixed-text {
    position: fixed;
    top: 20%;
    left: 5%;
    width: 185px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 20px;
}

.dashboard{
    background-color: #464646;
    width: 1150px;
    margin-left: 10%;
    margin-top: 5%;
}

.zone1{
    margin-left: 9%;
    margin-top: 10%;
}

.zone1-1{
    width: 90%;
}

.zone2{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
}

.zone2-1{
    width: 50%;
}

.zone2-1-1{
    color: #575757;
    font-size: 12px;
}

.zone2-1-2{
    color: #232323;
    font-size: 26px;
    font-weight: 700;
}

.zone2-1-3{
    color: #232323;
    font-size: 12px;
}

.zone2-1-4{
    color: #232323;
    font-size: 12px;
}

.zone2-2{
    width: 50%;
}

.zone2-2-1{
    color: #575757;
    font-size: 12px;
}

.zone2-2-2{
    color: #232323;
    font-size: 12px;
    margin-bottom: 5%;
}
