body{
    background-color: white;
}

.frame{
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.contact-info {
    padding: 0.8%;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

.footer-image {
    width: 50px; /* 이미지 크기를 조절합니다 */
    height: auto; /* 비율을 유지하면서 크기 조정 */
    vertical-align: middle; /* 이미지와 텍스트가 같은 라인에 오도록 합니다 */
}

.contact-info-title{
    color: black !important;
    font-size: 12px !important;
}

.contact-info a {
    color: darkgray;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 12px;
}

.contact-info a:visited{
    color: darkgray;
}

.contact-info a:hover {
    color: darkgray;
    transition: 0.3s;
}




/* 여기까지는 기본 세팅 */

.dashboard{
    margin-left: 10%;
    margin-right: 15%;
}

.zone1{
    margin-top: 10%;   
}

.zone1-1{
    font-size: 70px;
    font-weight: 700 !important;
}

.zone1-2{
    margin-top: 4%;
    font-size: 12px;
}

.zone1-3{
    margin-top: 3%;   
}

.fixed-text {
    position: fixed;
    top: 20%;
    left: 5%;
    width: 185px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 20px;
}


.zone2{
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}

.zone2-1{
    font-size: 12px;
    font-weight: 700;
}

.zone2-2{
    display: flex;
    flex-direction: column;
}

.zone2-2-1{
    width: 100%;
}

.zone2-2-1 img {
    max-width: 100%; /* 이미지가 부모 요소를 벗어나지 않도록 설정 */
    height: auto; /* 비율 유지 */
    display: block;
}

.zone2-2-2{
    display: flex;
    flex-direction: row ;
}

.zone2-2-2-1,
.zone2-2-2-2 {
    flex: 1 1 auto;
}


.click_image{
    width: 328px !important;
    object-fit: cover;
    cursor: pointer;
}

.zone3{
    margin-top: 3%;
    margin-bottom: 3%;
}
.zone3-1{
    font-size: 17px;
}

.zone3-2{
    font-size: 15px;
}

.zone4{
    margin-bottom: 5%;
}

.zone4 img {
    width: 100%;
    height: auto;
}

button {
    display: flex; /* 플렉스 박스를 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    width: 90px;
    height: 30px;
    padding: 0;
    margin: 10px 0 10px 0; /* 잘못된 margin 수정 (px 삭제) */
    font-size: 12px;
    font-weight: 600;
    font-family: "Montserrat";
    color: gray;
    background-color: #f5ebe0;
    border-radius: 5px;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: #D6CCC2;
    border: none; /* 호버 상태에서도 테두리 없음 */
}