@font-face {
    font-family: 'Espacio Novo';
    src: url('/assets/fonts/EspacioNovoMedium.woff2') format('woff2'),
        url('/assets/fonts/EspacioNovoMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}