
body{
   background-color: white;
}

.frame{
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* 네비게이션 관련 */

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

li{
    display: inline;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
}

ul{
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-wrap: nowrap;
}

.site-name{
    margin:0;
    font-size: 24px;
    color: black;
    /* 원하는 폰트 찾아와!
    font family: '원하는 폰트명', sans serif;
    */
}

.site-name a{
    color: black;
    text-decoration: none;
}

.nav-menu{
    font-size: 18px;
    color: black;
}

.triangle{
    font-size: 10px;
    margin-left: 3px;
}

a{
    text-decoration: none;
}

a:hover{
    color: gray;
    transition: 0.3s;
}


.contact-info {
    margin-top: 20px;
    padding: 0.8%;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

.footer-image {
    width: 50px; /* 이미지 크기를 조절합니다 */
    height: auto; /* 비율을 유지하면서 크기 조정 */
    vertical-align: middle; /* 이미지와 텍스트가 같은 라인에 오도록 합니다 */
}

.contact-info-title{
    color: black !important;
    font-size: 12px !important;
}

.contact-info a {
    color: darkgray;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 12px;
}

.contact-info a:visited{
    color: darkgray;
}

.contact-info a:hover {
    color: darkgray;
    transition: 0.3s;
}

.dropdown-content {
    display: none; /* 드롭다운을 기본적으로 숨김 */
    position: absolute;
    background-color: white; /* 드롭다운 배경색 */
    min-width: 160px; /* 드롭다운의 최소 너비 */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* 다른 요소 위에 쌓이도록 설정 */
}

.dropdown:hover .dropdown-content {
    display: block; /* 마우스를 올리면 드롭다운 표시 */
}

.dropdown-content a {
    color: black; /* 링크 색상 */
    padding: 12px 16px; /* 패딩 */
    text-decoration: none; /* 밑줄 제거 */
    display: block; /* 블록 요소로 표시 */
    font-size: 14px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1; /* 마우스를 올리면 배경색 변경 */
}

.fixed-text {
    position: fixed;
    top: 20%;
    left: 5%;
    width: 185px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 20px;
}

/*-------------------------------------------------*/

.document{
    margin-top: 5%;
}

.film-container{
    padding-top: 1.5%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 15%;
    padding-bottom: 1.5%;
    border-bottom: 0.5px solid lightgray;
    border-top: 0.5px solid lightgray;
}

#film-picture{
    margin-left: 3%;
    max-width: 45% !important;
    height: auto;
}

.text-zone{
    margin-left: 10%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text-zone-1{
    font-size: 12px;
    font-style: italic;
    font-weight: 400;   
    margin-bottom: 0;
}

.text-zone-2{
    font-size: 42px;
}

.text-zone-2 a{
    color: black;
}

.text-zone-2 a:visited{
    color: black;
}

.text-zone-2 a:hover{
    color: darkgray;
}

.text-zone-3{
    font-size: 12px;
    line-height: 20px;
}

.text-zone-4{
    font-size: 10px;
    font-style: italic;
    line-height: 20px;
}
