body{
    background-color: white;
}

.frame{
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

li{
    display: inline;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
}

ul{
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-wrap: nowrap;
}

.site-name{
    margin:0;
    font-size: 24px;
    color: black;
}

.site-name a{
    color: black;
    text-decoration: none;
}

.nav-menu{
    font-size: 18px;
    color: black;
}

.triangle{
    font-size: 10px;
    margin-left: 3px;
}

a{
    text-decoration: none;
}

a:hover{
    color: gray;
    transition: 0.3s;
}

.contact-info {
    padding: 0.8%;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

.footer-image {
    width: 50px; /* 이미지 크기를 조절합니다 */
    height: auto; /* 비율을 유지하면서 크기 조정 */
    vertical-align: middle; /* 이미지와 텍스트가 같은 라인에 오도록 합니다 */
}

.contact-info-title{
    color: black !important;
    font-size: 12px !important;
}

.contact-info a {
    color: darkgray;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 12px;
}

.contact-info a:visited{
    color: darkgray;
}

.contact-info a:hover {
    color: darkgray;
    transition: 0.3s;
}
.dropdown-content {
    display: none; /* 드롭다운을 기본적으로 숨김 */
    position: absolute;
    background-color: white; /* 드롭다운 배경색 */
    min-width: 160px; /* 드롭다운의 최소 너비 */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* 다른 요소 위에 쌓이도록 설정 */
}

.dropdown:hover .dropdown-content {
    display: block; /* 마우스를 올리면 드롭다운 표시 */
}

.dropdown-content a {
    color: black; /* 링크 색상 */
    padding: 12px 16px; /* 패딩 */
    text-decoration: none; /* 밑줄 제거 */
    display: block; /* 블록 요소로 표시 */
    font-size: 14px;
    padding-left: 5%;
}
.dropdown-content a:hover {
    background-color: #f1f1f1; /* 마우스를 올리면 배경색 변경 */
}

.fixed-text {
    position: fixed;
    top: 20%;
    left: 5%;
    width: 185px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 20px;
}

/* 여기까지는 기본 세팅 */



.dashboard{
    
    margin-top: 5%;
    background-color: #328a63;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 15%;
}

.zone1 {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

.zone1-1{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.zone1-1-1 {
    font-size: 35px;
    color: white;
    margin-bottom: 10%;
    font-weight: 700;
    font-family: 'Montserrat';
}

.zone1-1-2 {
    font-size: 20px;
    color: white;
    font-family: 'Montserrat';
}

.zone1-2{
    width: 60%;
    
}
  
.film-image {
    width: 100%;
    height: auto;
}

.zone2 {
    display: flex;
    flex-direction: row;
    margin: 5%;
}

.zone2-1{
    display: flex;
    flex-direction: column;
    width: 40%;
}

.zone2-1-1{
    color: white;
    font-size: 13px;
    font-family: 'DM Sans';
}

.zone2-1-2{
    color: white;
    font-size: 13px;
    font-family: 'DM Sans';
}

.zone2-2{
    font-size: 13px;
    color: white;
    width: 60%;
    font-family: 'DM Sans';
}

.zone2-2-2{
    font-family: 'Pretendard', sans-serif;
}

.zone3{

    margin-left: 10%;
    margin-right: 15%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
}

.addition-image{
    width: 50%;
}


