
/* 숨겨진 상태를 위한 기본 스타일 */
.hidden {
    opacity: 0;
    cursor: pointer;
    transition: opacity 2s ease; /* 2초 동안 페이드 인 */
}

/* 페이드 인 될 때 보여줄 스타일 */
.visible {
    opacity: 1;
}

body{
    background-image: url('/assets/images/Home_jfk_icn_bacground_img.png');
    /*'https://drive.google.com/thumbnail?id=17VIZLGhgtsskdQRde2WbH29KncbVyyNX&sz=w1000'*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;

}

.frame{
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}


@media (max-width: 480px) {
    body{
        background-image: url('../images/DING.gif');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: center;
        overflow: hidden;
    }
}



