body{
    background-color: white;
}

.frame{
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    position: fixed;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

li{
    display: inline;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
}

ul{
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-wrap: nowrap;
}

.site-name{
    margin:0;
    font-size: 24px;
    color: black;
}

.site-name a{
    color: black;
    text-decoration: none;
}

.nav-menu{
    font-size: 18px;
    color: black;
}

.triangle{
    font-size: 10px;
    margin-left: 3px;
}

a{
    text-decoration: none;
}

a:hover{
    color: gray;
    transition: 0.3s;
}

.contact-info {
    padding: 0.8%;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

.footer-image {
    width: 50px; /* 이미지 크기를 조절합니다 */
    height: auto; /* 비율을 유지하면서 크기 조정 */
    vertical-align: middle; /* 이미지와 텍스트가 같은 라인에 오도록 합니다 */
}

.contact-info-title{
    color: black !important;
    font-size: 12px !important;
}

.contact-info a {
    color: darkgray;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-left: 12px;
}

.contact-info a:visited{
    color: darkgray;
}

.contact-info a:hover {
    color: darkgray;
    transition: 0.3s;
}
.dropdown-content {
    display: none; /* 드롭다운을 기본적으로 숨김 */
    position: absolute;
    background-color: white; /* 드롭다운 배경색 */
    min-width: 160px; /* 드롭다운의 최소 너비 */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1; /* 다른 요소 위에 쌓이도록 설정 */
}

.dropdown:hover .dropdown-content {
    display: block; /* 마우스를 올리면 드롭다운 표시 */
}

.dropdown-content a {
    color: black; /* 링크 색상 */
    padding: 12px 16px; /* 패딩 */
    text-decoration: none; /* 밑줄 제거 */
    display: block; /* 블록 요소로 표시 */
    font-size: 14px;
    padding-left: 5%;
}
.dropdown-content a:hover {
    background-color: #f1f1f1; /* 마우스를 올리면 배경색 변경 */
}

.fixed-text {
    position: fixed;
    top: 20%;
    left: 5%;
    width: 185px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 20px;
}

/*----------------------------------*/


.dashboard{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    margin-top: 10%;
    margin-left: 15%;
}

.zone1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch; /* 이미지와 오른쪽 컬럼 높이 맞춤 */
}

.zone1-1 {
    width: 45%;
    height: auto;
    object-fit: contain;
}

.zone1-2 {
    position: relative;
    margin-left: 4%;
    flex: 1;
}

/* 제목 */
.zone1-2-3 {
    position: absolute;
    top: 20%;
    font-size: 30px;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* 설명 */
.zone1-2-1 {
    position: absolute;
    top: calc(20% + 2.5em); /* 제목과 약간 간격 */
    font-size: 15px;
    font-family: 'Pretendard', sans-serif;
}

/* 아래 고정 정보 */
.zone1-2-2 {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left: 1px solid black;
    padding-left: 2%;
}

.zone1-2-2-1 {
    margin-left: 2%;
    font-size: 12px;
    font-style: italic;
}

.zone2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5%;
}

.zone2-1{
    font-size: 15px;
}

.zone2-2{
    margin-top: 2%;
    font-size: 15px;
    font-family: 'Pretendard', sans-serif;
}

.trailer-video {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 비율 유지 */
    height: 0;
    overflow: hidden;
    max-width: 80%;
}

.trailer-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    align-self: flex-start;
    margin-left: 0S;
}
  
.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: white;       /* 버튼 화살표 색상 */
    z-index: 10;        /* 다른 요소 위에 나오게 */
    width: 44px;
    height: 44px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    color: rgba(255,255,255,0.6);
    font-size: 24px; /* 화살표 크기 */
}

.swiper-scrollbar{
    display: none !important;
}

.swiper-pagination-bullet{
    background: rgba(255,255,255, 0.9) !important;
}

.swiper-pagination-bullet-active{
    background: rgba(255,255,255, 0.6) !important;
}