
body{
   background-color: white;
}

.frame{
    margin: 2% 10%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}

.fixed-text {
    position: fixed;
    top: 20%;
    left: 5%;
    width: 185px;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    line-height: 20px;
}

/*-------------------------------------------------*/

.document{
    margin-top: 5%;
}

.film-container{
    padding-top: 1.5%;
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 15%;
    padding-bottom: 1.5%;
    border-bottom: 0.5px solid lightgray;
    border-top: 0.5px solid lightgray;
}

#film-picture{
    margin-left: 3%;
    max-width: 45% !important;
    height: auto;
}

.text-zone{
    margin-left: 10%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.text-zone-1{
    font-size: 12px;
    font-style: italic;
    font-weight: 400;   
    margin-bottom: 0;
}

.text-zone-2{
    font-size: 42px;
}

.text-zone-2 a{
    color: black;
    text-decoration: none;
}

.text-zone-2 a:visited{
    color: black;
}

.text-zone-2 a:hover{
    color: darkgray;
}

.text-zone-3{
    font-size: 12px;
    line-height: 20px;
}

.text-zone-4{
    font-size: 10px;
    font-style: italic;
    line-height: 20px;
}
